body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.topheader{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    height: 50px;
}


.homeheader {
    background-color: black;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/pizza-preparation-with-ingredients-on-754245.jpg');
    /* background-image: url(images/pizza-preparation-with-ingredients-on-754245.jpg); */
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 400px;
    text-align: center;
}

.homeheader div {
    display: inline-block;
}

header .logo a {
    background-image: url("images/placeholderlogo.png");
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999999px;
    position: relative;
    top: -4px;
    height: 45px;
    width: 50px;
}

.placeholderheader {
    background-color: black;
    background-image: url(images/placeholder.png);
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 200px;
    text-align: center;
}

.placeholderheader h1{
    color: black;
    font-size: 60px;
    text-decoration: none;
    position: relative;
    top: 25px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.topheader li {
    margin-right: 20px;
    padding: 4px 10px 0px 10px;
    display: inline-block;
}
.topheader li a {
    color: black;
    font-size: 17px;
    padding: 10px 8px 0px 8px;
    text-decoration: none;
}
.topheader li a:hover {
    color: rgb(14, 199, 255);
}

.HomeWebName {
    color: white;
    font-size: 60px;
    text-decoration: none;
    position: relative;
    top: 25px;
}

.HomeSlogan {
    color: white;
    font-size: 35px;
    text-decoration: none;
    position: relative;
    top: -10px;
}

.HomeRecipeButton {
    border-radius: 15px;
    border-width: 1px;
    font-size: 30px;
    margin: 40px 0px 0px 0px;
    padding: 10px 90px 10px 90px;
}

.HomeRecipeButton:hover {
    background-color: rgb(236, 236, 236);
    color: rgb(14, 199, 255);
    font-size: 30px;
}

.homefeaturehor {
    width: 30%;
    display:inline-block;
    padding: 60px 0px 100px 0px;
    vertical-align: top;
}

.homefeaturetitle {
    color: black;
    font-weight:bold;
    font-size: 35px;
    margin: 20px;
    text-align: left;
    text-decoration: none;
}

.homefeaturepara {
    color: gray;
    font-weight: lighter;
    font-size: 18px;
    margin: 20px;
    text-align: left;
    text-decoration: none;
}


section {
    background: rgb(255, 255, 255);
    color: gray;
    display: flex;
    flex-direction: row;
}

.homefeatureboxdiv{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.feature-box.home{
    padding: 20px;
    flex-direction: column;
}


.homefeatureimg1 {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: gray 0px 0px 10px;
    margin: 60px 20px 40px 100px;
    height: 300px;
    width: 450px;
    object-fit: cover;
}

.homefeatureimg2 {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: gray 0px 0px 10px;
    margin: 60px 100px 40px 20px;
    height: 300px;
    width: 450px;
    object-fit: cover;
}

footer {
    background: black;
    color: gray;
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

.placeholderbox {
    height: 1200px;
}




/* Recipes */

.recipesheader {
    height: 65px;
    text-align: center;
}

.RecipePageTitle {
    color: black;
    position: relative;
    bottom: 35px;
    font-size: 60px;
    text-decoration: none;
}

.recipesearchgrid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 5px;
    margin: 0 auto;
    height: 650px;
    width: 75%;
}

.recipesearchimage, .recipesearchdiv {
    grid-row: 1/2;
}

.recipesearchimage {
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('images/organic-food-background-assorted-raw-2344225.jpg');
    /* background-image: url(images/organic-food-background-assorted-raw-2344225.jpg); */
    background-size: 160%;
    background-position: center;
    width: 100%;
    text-align: center;
    grid-column: 4/span 17;
    grid-row: 1/span 20;
}

.recipesearchdiv {
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: gray 0px 0px 10px;
    padding: 25px;
    width: 500px;
    grid-column: 1/ span 7;
    grid-row: 3/span 16;
}

.recipesearchdivtop {
    width: 500px;
    height: 350px;
    padding: 0px;
    display:inline-block;
    overflow: auto;
}
.recipesearchdivbottom {
    width: 500px;
    height: 125px;
    padding: 0px;
    display: inline-block;
}

.showhideadvanced {
    border-radius: 15px;
    border-width: 0px;
    box-shadow: gray 0px 0px 2px;
    width: 500px;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    padding: 6px 90px 6px 90px;
}

.findrecipesearch {
    border-radius: 15px;
    border-width: 0px;
    box-shadow: gray 0px 0px 2px;
    width: 500px;
    font-size: 20px;
    margin: 15px 0px 0px 0px;
    padding: 18px 90px 18px 90px;
}

.recipesearchinputtext {
    margin: 0;
    padding: 0;
    width: 150px;
    list-style-type: none;
    color: black;
    left: 15px;
    font-size: 14px;
    position: relative;
    bottom: 77px;
    padding: 10px 0px 0px 0px;
    text-decoration: none;
}


.calorieinputbox {
    border-radius: 12px;
    border-width: 1px;
    font-size: 25px;
    text-indent: 12px;
    padding: 12px 0px 0px 0px;
    margin: 0px;
    height: 60px;
    width: 98%;
}

.reciperecentlyaddedbanner {
    background-color:rgba(255, 60, 0, 0.473);
    height: 75px;
    width: 100%;
    margin: 150px 0px 50px 0px;
    padding: 12px 0px 0px 12.5%;
    text-align: left;
    color: white;
    font-size: 35px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
}

.reciperecentlyadded {
    display: grid;
    place-items: center;
}

.reciperecentlyaddedslider {
    height: 350px;
    margin: auto;
    position: relative;
    width:100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.reciperecentlyaddedslider::before,
.reciperecentlyaddedslider::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
    rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 4%;
    z-index: 2;
}

.reciperecentlyaddedslider::before {
    left: 0;
    top: 0;
}

.reciperecentlyaddedslider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.reciperecentlyaddedsliderdiv {
    display: flex;
    width: calc(350px * 16);
    animation: recipescroll 25s linear infinite;
 }

 /* .reciperecentlyaddedsliderdiv:hover {
    animation-play-state: paused;
 } */

 .reciperecentlyaddedslide {
    height: 300px;
    width: 350px;
    display: flex;
    padding: 20px;
    place-items: center;
    position: relative;
 }

.reciperecentlyaddedslide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

 @keyframes recipescroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-350px * 8));
    }
 }

.recipeslidecard {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s cubic-bezier(0.4, -.2, 0.4, 1.6);
}

.reciperecentlyaddedslide:hover .recipeslidecard{
    transform: rotateY(180deg);
}

.recipeslidecardfront {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: gray 0px 0px 10px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.recipeslidecardback {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: gray 0px 0px 10px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: white;
    transform: rotateY(180deg);
} 

.recipeslidecardback div{
    position: relative;
    top: 200;
    padding: 0px 20px 0px 20px;
}

.recipeslidecardtitle {
    color: rgb(206, 0, 0);
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
}

.recipeslidecardinfo {
    color: rgb(99, 99, 99);
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
}